/* =========================================

VIEWS/PICKLING.LESS

=========================================*/

#page-pickling{
	.pickling-page{
		margin-top: 90px;
		@media (min-width: @screen-sm){
			margin-top: 40px;
		}
		.picklingHeader{
			img{
				width: 100%;
				@media (min-width: @screen-sm){
					width: 50%;
					margin: 0 25%;
				}
			}
			h1{
				font-family: 'halohandletterregular';
				font-size: 28px;
				color: @purple;
				text-align: center;
				margin-top: 10px;
				margin-bottom: 0;
				@media (min-width: @screen-sm){
					font-size: 36px;
				}
				@media (min-width: @screen-md){
					font-size: 44px;
				}
			}
		}
		.picklingVideo{
			margin: 25px auto;
			iframe{
				width: 100%;
				height: auto;
				margin: 0 auto;
				padding: 0;
				border: none;
				// border-image: url('../img/pickling/videoBorderTop.png') 47% 0 repeat;
				// border-image: url('../img/pickling/videoBorderSide.png') auto 47% repeat;
				border-image: url('../img/pickling/videoBorder.png') 47% repeat;
				border-width: 8px;
				@media (min-width: @screen-sm){
					width: 80%;
					min-height: 319px;
					margin: 0 10%;
				}
			}
		}
		.picklingProcess{
			margin: 40px 0 0px;
			@media (min-width: @screen-sm){
				background: @seafoam;
				overflow: hidden;
				border-radius: 10px;
				padding: 20px 0;
			}
			.step{
				margin-bottom: 40px;
				h3 {
					font-family: 'halohandletterregular';
					font-size: 32px;
					color: @purple;
					@media (min-width: @screen-sm){
						font-size: 48px;
					}
					@media (min-width: @screen-md){
						font-size: 36px;
						margin: 0;
					}
				}
				p{
					font-size: 18px;
					color: @darkGreen;
					@media (min-width: @screen-sm){
						font-size: 24px;
					}
					@media (min-width: @screen-md){
						font-size: 20px;
						margin: 0;
					}
				}
			}
			.step1 {
				.stepDirections{
					@media (min-width: @screen-sm){
						margin-top: 20px;
					}
					@media (min-width: @screen-md){
						margin-top: 40px;
						background: @seafoam;
						border-radius: 5px;
						padding: 10px;
					}
				}
			}
			.step2 {
				@media (min-width: @screen-md){
					margin-top: -100px;	
				}
				img {
					@media (min-width: @screen-sm){
						width: 50%;
						margin-top: -40px;
					}
					@media (min-width: @screen-md){
						margin-top: -150px;
					}
				}
				.stepDirections{
					@media (min-width: @screen-sm){	
						margin-top: 100px;
					}		
					@media (min-width: @screen-md){	
						margin-top: 0px;
					}	
				}	
			}
			.step3 {
				@media (min-width: @screen-md){
					margin-top: -50px;	
				}
				img {
					@media (min-width: @screen-sm){
						margin-top: 50px;
					}
					@media (min-width: @screen-md){
						margin-top: -50px;
					}
				}	
				.stepDirections{
					@media (min-width: @screen-sm){
						margin-top: 80px;
					}
					@media (min-width: @screen-md){	
						margin-top: 25px;
					}
				}
			}	
			.step4 {
				@media (min-width: @screen-md){
					margin-top: -75px;	
				}
				img {
					@media (min-width: @screen-sm){
						margin-top: -25px;
					}
					@media (min-width: @screen-md){
					margin-top: -10px;	
					}
				}
				.stepDirections{
					@media (min-width: @screen-sm){
						margin-top: 40px;
					}
					@media (min-width: @screen-md){
					margin-top: 25px;	
				}
				}
			}
			.step5 {
				@media (min-width: @screen-md){
					margin-top: -100px;	
				}
				img {
					@media (min-width: @screen-sm){
						margin-top: 50px;
					}
					@media (min-width: @screen-md){
						width: 75%;
					}
				}
				.stepDirections{
					@media (min-width: @screen-sm){	
						margin-top: 100px;
					}
					@media (min-width: @screen-md){
					margin-top: 150px;	
				}
				}	
			}
			.step6 {
				@media (min-width: @screen-md){
					margin-top: -40px;	
				}
				img {
					@media (min-width: @screen-sm){
						margin-top: -20px;
					}
					@media (min-width: @screen-md){
						width: 60%;
						margin-top: -75px;
					}
				}		
				.stepDirections{
					@media (min-width: @screen-sm){
						margin-top: 75px;
					}
					@media (min-width: @screen-md){
						margin-top: 65px;
					}
				}	
			}
			.step7 {
				@media (min-width: @screen-md){
					margin-top: -125px;	
				}
				img {
					@media (min-width: @screen-sm){
						margin-top: -20px;
					}
					@media (min-width: @screen-md){
						width: 75%;
					}
				}	
				.stepDirections{
					@media (min-width: @screen-sm){
						margin-top: 100px;
					}
					@media (min-width: @screen-md){
						margin-top: 175px;
					}
				}
			}
			.step8 {
				@media (min-width: @screen-md){
					margin-top: -100px;	
				}
				img {
					@media (min-width: @screen-sm){
						margin-top: -50px;
						width: 50%;
					}
					@media (min-width: @screen-md){
						margin-top: -100px;
						width: 60%;
					}
				}	
				.stepDirections{
					@media (min-width: @screen-sm){
						margin-top: 120px;
					}
					@media (min-width: @screen-md){
						margin-top: 150px;
					}
				}	
			}
			.step9 {
				img {
					@media (min-width: @screen-sm){
						margin-top: 20px;
					}
				}	
				.stepDirections{
					@media (min-width: @screen-sm){
						margin-top: 80px;
					}
					@media (min-width: @screen-md){
						margin-top: 150px;
					}
				}	
			}
		}
	}	
}